/node_modules
/public/build/
/public/hot
/public/storage
/public/css/
/public/vendor/*
/public/sitemap.xml
/public/mix-manifest.json
/storage/*.key
/storage/debugbar/
/vendor
docker-compose.override.yml
npm-debug.log
/.php-cs-fixer.cache
.DS_STORE
.npmrc
vite.config.js

## Debugbar
storage/debugbar/

# IDEA configurtion
/.idea
/.vscode

# Environment files
.env
.env.backup
.env.production
.env.staging
.env.dusk.local

# PHP Unit
phpunit.xml
.phpunit.result.cache
.phpunit.cache/

# Laravel IDE Helper Generator
/_ide_helper.php
/_ide_helper_models.php
/.phpstorm.meta.php

# Composer authentication
auth.json

# File types
*.pdf
*.docx
*.xlsx
